<div id="form-container">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label class="titre-label" for="firstName">Frist Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="titre-label" for="secondField">Second Field</label>
            <input type="text" class="form-control" name="secondField" [(ngModel)]="model.secondField" #secondField="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && secondField.invalid }" required />
            <div *ngIf="f.submitted && secondField.invalid" class="invalid-feedback">
                <div *ngIf="secondField.errors.required">Second Field is required</div>
            </div>
        </div>
        <div class="form-group">
            <label class="titre-label" for="temps">Temps (minutes)</label>
            <select name="temps" class="form-control" [(ngModel)]="model.temps" #temps="ngModel" [ngClass]="{ 'is-invalid': f.submitted && temps.invalid }" required>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="45">45 minutes</option>
                <option value="60">60 minutes</option>
                <option value="75">75 minutes</option>
                <option value="90">90 minutes</option>
                <option value="105">105 minutes</option>
                <option value="120">120 minutes</option>
            </select>
            <div *ngIf="f.submitted && temps.invalid" class="invalid-feedback">
                <div *ngIf="temps.errors.required">Temps is required</div>
            </div>
        </div>
        <div class="form-group">
            <button class="register-button">Register</button>
        </div>
    </form>
</div>
