@import './../variables.scss';

html {
    scroll-behavior: smooth;
}

#landing-page-container {
    height: calc(100% - #{$top-menu-height});
    width: 100%;
    overflow: scroll;

    .pulsate {
        text-align: center;
        margin-top: 3%;
        color: #b3cde0;
        -webkit-animation: pulsate 3s ease-out;
        -webkit-animation-iteration-count: infinite; 
        opacity: 0.5;
    }
    @-webkit-keyframes pulsate {
        0% { 
            opacity: 0.5;
        }
        50% { 
            opacity: 1.0;
        }
        100% { 
            opacity: 0.5;
        }
    }

    #map-container {
        height: 60%;
        width: 100%;
        text-align: center;
        margin-top: 2%;
        padding: 0;

        agm-map {
            height: 100%;
            width: 75vw;
            margin: 0 auto;
            display: inline-block;
        }
    }

    .maindiv {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    mat-card {
        background-color: $color-main;
        color: #b3cde0;
    }

    .leftContainer{
        margin-top:15%;
        max-width: 50%;
        border-radius:5px;
    }

    .rightContainer{
        margin-top:15%;
        max-width: 50%;
        border-radius:5px;
    }
}
