<div id="landing-page-container">

    <div id="map-container">
        <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng" (boundsChange)="checkMarkersInBounds($event)">
            <agm-marker *ngFor="let pos of positions | keyvalue" (markerClick)="onMarkerClick(pos.value, pos.key)" 
            [latitude]="pos.value" [longitude]="pos.key" [iconUrl]="reservation.has(pos.value) ? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'"></agm-marker>
        </agm-map>
    </div>

    <h1>Réservation</h1>
    <app-reservation-parking id="reservation-container" [parkingID]="noUniqueParking"></app-reservation-parking>
</div>
