<div id="landing-page-container">
    <div><h1 class="title">Quick, choose your parking!</h1></div>
    <div id="map-container">
        <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng" (boundsChange)="checkMarkersInBounds($event)">
            <agm-marker *ngFor="let pos of positions | keyvalue" (markerClick)="onMarkerClick(pos.value, pos.key)" 
            [latitude]="pos.value" [longitude]="pos.key" [iconUrl]="reservation.has(pos.value) ? 'https://storage.googleapis.com/support-kms-prod/SNP_2752129_en_v0' : 'https://storage.googleapis.com/support-kms-prod/SNP_2752125_en_v0'"></agm-marker>
        </agm-map>
    </div>

    <app-reservation-parking id="reservation-container" [parkingID]="noUniqueParking"></app-reservation-parking>
</div>
