


#map-container {
    height: 60%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;

    agm-map {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: inline-block;
    }
}